@import "../../assets/styles/var";
.product-detail {
  margin: 48px;
  .product-detail-container {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 24px;
    border-radius: 10px;
    .image-detail {
      img {
        width: 300px;
        border-radius: 10px;
      }
    }
    .container-items {
      width: 100%;
      margin: 24px;
      .category-detail {
        color: $primaryColor;
        font-size: 18px;
        font-weight: $fontWeigthBold;
        margin-bottom: 16px;
      }
      .title-detail {
        font-size: 28px;
        font-weight: $fontWeigthBold;
        color: #444;
      }
      .divider {
        margin-top: 60px;
      }
      .description-detail {
        color: #444;
      }
      .price-detail {
        font-size: 32px;
        font-weight: bolder;
        color: #b24f00;
      }
      .add-shopping-cart {
        border: 1px solid $primaryColor;
        width: 214px;
        padding: 6px;
        text-align: center;
        border-radius: $borderRadius4;
        margin-top: 20px;
        background-color: $white;
        color: $primaryColor;
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    margin: 48px 16px;
    .product-detail-container {
      display: block;
      .image-detail {
        img {
          width: 100%;
        }
      }
      .container-items {
        margin: 0;
        .category-detail {
          margin-top: 24px;
        }
        .title-detail {
          margin-bottom: 12px;
        }
        .counter-container {
          margin: 12px 0;
        }
        .divider {
          margin-top: 24px;
          width: 100%;
        }
        .description-detail {
          font-size: 18px;
        }
      }
    }
  }
}
