@import "../../assets/styles/var";
.toast-wrapper {
  width: 320px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 80px;
  left: 50%;

  &.visible {
    display: block;
  }
  &.hidden {
    display: none;
  }

  .toast {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 16px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    &.success {
      border-left: 10px solid #47d764;
    }
    &.error {
      border-left: 10px solid #d74747;
    }
    .toast-title {
      font-size: 16px;
      width: 100%;
    }
  }
  @media only screen and (max-width: 600px) {
    width: 80%;
    left: 44%;
  }
}
