@import "../../assets/styles/var";

.badget {
  width: 22px;
  height: 22px;
  background-color: $white;
  border: 2px solid $primaryColor;
  border-radius: 100%;
  position: absolute;
  top: -14px;
  right: -10px;
  text-align: center;
}
