@import "../../assets/styles/var";
.input-form {
  margin: 16px 0;
  display: grid;
  text-align: left;
  label {
    font-weight: bold;
    margin-right: 12px;
    width: 100px;
  }
  input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid $primaryColor;
    padding: 4px 8px;
  }
}
