@import "../../assets/styles/var";
.buy-container {
  margin: 48px;
  text-align: center;
  form {
    width: 450px;
    margin: 0 auto;
    button {
      display: flex;
      align-items: center;
      background-color: $primaryColor;
      border: 0;
      color: white;
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $primaryColorLight;
      }
    }
  }
  .title {
    color: $primaryColor;
    font-weight: bold;
  }
  span {
    font-weight: bold;
  }
  @media only screen and (max-width: 600px) {
    margin: 48px 16px;
    form {
      width: 100%;
    }
  }
}
