@import "../../assets/styles/var";
.container-category {
  padding: 2px 12px;
  width: 170px;
  padding: 10px;
  border-radius: 4px;

  p {
    background-color: white;
    margin: 0;
    border: 2px solid $primaryColor;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    &.active {
      background-color: $primaryColor;
      color: white;
    }
    &:hover {
      cursor: pointer;
      border: 2px solid #ff923b;

      background-color: #ff923b;
      color: white;
    }
  }
}
