@import "../../../../assets/styles/var";

.skeleton-product-detail-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  .skeleton-product-detail {
    background-color: $loadingGray;
    border-radius: 4px;
    margin: 4px;
    &.image {
      width: 300px;
      height: 400px;
      margin-right: 24px;
    }
    &.category {
      width: 150px;
      height: 12px;
      margin-bottom: 24px;
    }
    &.title {
      width: 450px;
      height: 40px;
      margin-bottom: 24px;
    }
    &.price {
      width: 80px;
      height: 50px;
      margin-top: 14px;
      margin-bottom: 24px;
    }
    &.counter {
      width: 226px;
      height: 36px;
      margin-bottom: 24px;
    }
  }

  .button {
    width: 226px;
    height: 36px;
    border: 1px solid $loadingGray;
    background-color: white;
    margin-bottom: 24px;
    border-radius: 4px;
  }

  @media only screen and (max-width: 600px) {
    display: block;
    .skeleton-product-detail {
      &.image {
        width: 100%;
        margin-bottom: 24px;
      }
      &.title,
      &.counter {
        width: 100%;
      }
    }
    .button {
      width: 100%;
    }
  }
}
