@import "../../../../assets/styles/var";

.skeleton-category-container {
  width: 170px;
  height: 30px;
  margin: 10px;
  background-color: $loadingGray;
  padding: 2px;
  border-radius: $borderRadius4;
  text-transform: uppercase;
}
