@import "../../assets/styles/var";

.container-item {
  width: 250px;
  height: 300px;
  margin: 20px;
  background-color: white;
  display: inline-grid;
  align-content: center;
  justify-content: center;
  border: 2px solid white;

  border-radius: 10px;
  padding: 12px 6px;
  text-align: center;
  &:hover {
    cursor: pointer;
    border: 2px solid $primaryColor;
  }

  .item-image {
    img {
      width: 100px;
    }
  }
  p {
    margin: 0;
    padding: 0;
  }
  .item-category {
    background-color: $primaryColorLight;
    padding: 0px 10px 4px 10px;
    border-radius: 4px;
    margin: 8px auto;
    color: white;
    font-weight: 600;
    width: 130px;
  }
  .item-price {
    color: #b24f00;
    font-weight: bolder;
    font-size: 22px;
    img {
      width: 32px;
      z-index: 2;
    }
  }
}
