@import "../../assets/styles/var";
.home {
  display: flex;
  flex-wrap: wrap;
  .container-categories {
    margin-top: 30px;
    margin-left: 32px;
  }
  .container-product {
    margin: 24px 0;
  }
  @media only screen and (max-width: 600px) {
    .container-categories {
      margin: 0;
      margin: 0;
    }
  }
}
